<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Data init:</strong>
  <%= @task.data_init %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @task.date_end %>
</p>

<p>
  <strong>Order:</strong>
  <%= @task.order %>
</p>

<p>
  <strong>Board:</strong>
  <%= @task.board_id %>
</p>

<p>
  <strong>Pai:</strong>
  <%= @task.dad %>

</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
