<div class="container-fluid editor row no-gutters">
<<<<<<< HEAD
  <header class="cd-main-header">
    <nav class="cd-nav">
        <%= image_tag "logo/FutureSelf-normal _texto.png", :width => "140px", :class => "cd-logo"%>
      
    </nav>
  </header>
<main class="cd-main-content">
  <nav class="cd-side-nav">
      <ul>

          <li class="cd-label"><%= image_tag "logo/FutureSelf-normal _icon.png", :width => "140px"%>
          <%= image_tag "logo/FutureSelf-normal _texto.png", :width => "140px" %>
          </li>
          <li class="has-children overview">
              <%= link_to('Boards', root_path, :method => :delete) %>
          </li>
          <li class="notifications active">
              <%= link_to('Home', root_path, :method => :delete) %>
          </li>


          <!-- other list items here -->
          <li><%= link_to "Sign out", users_sign_out_path, :method => :delete %></li>
      </ul>

      <!-- other unordered lists here -->
  </nav>

  <div class="content-wrapper  main-editor">
    <header>
      <h2>
      <%if !@Task.nil? && !@Task.parent.nil? %>
        <%= link_to editor_task_path(@Task.parent.id) do %>
          <i style="font-size: 16px;  position: relative;top: -2px;left: -10px;" class="fa fa-chevron-left"></i>
        <% end %>
      <% end %>


      <a><%= @Task.title %></a>
      <a>
        <span class="header-sub">24h</span>
      </a>
      </h2>
      
<<<<<<< HEAD
      
        <% 
        s = []
        taskParent = @Task
        while !taskParent.parent.nil?
          s.push(link_to taskParent.parent.title, editor_task_path(taskParent.parent.id))
        
          taskParent = taskParent.parent
         end 
         %>

         <% if s.length != 0 %>

          <ol class="breadcrumb">

         <% while s.length != 0
          %>
          <li>
            <%= s.pop() %>
          </li>
         <% end %>
      </ol>
   <% end %>

    </header>
    <section>
      <div class="timeline-detail">
      <%

      if @Task.children.length != 0
        x = 12/@Task.children.length 
      else
        x = 12
      end

      for i in 0..@Task.children.length-1  %>

      <div class="col-sm-<%= x %> col-md-<%= x %> ">
        <i class="fa fa-check-circle checked">&nbsp;</i>
          <h3>
            <%= link_to taskParent.children[i].title, editor_task_path(taskParent.children[i].id) %>
          </h3>

          <ul class="item-tasks-list">
            <li><input type="text" id="nova" placeholder="Próximas Tarefas..."></input></li>            
            <li><a>Filho.Filho.Title</a></li>
            <li><a href="">Compose Database</a></li>
            <li><a href="">Image Reconizition</a></li>
            <li><a href="">Natural Language</a></li>            
          </ul>
        </div>
      <% end %>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Adicionar Tarefa
</button>
      </div>
    </section>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar Tarefa</h4>
      </div>
      <div class="modal-body">
        <%= render 'tasks/form' %>

      
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>